*{margin: 0px;}

.nav-bar {
    display: flex;
    background-color: #796D92;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    animation: pulse 5s infinite;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: oxanium;
    font-style: bold;
    font-size: 15px;
    padding: 10px;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: #633fab;
    font-size: 70px;
    font-family: Oxanium;
    margin: 70px;
    animation: color-change 1s infinite;
}

h2 {
    text-align: center;
    color: #796D92;
    font-size: 25px;
    font-family: Oxanium;
}

section {
    margin-top: 150px;
}

#introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-karishma {
    display: flex;
    height: 200px;
    width: 150px;    
}

.psm1-image {
    display: flex;
    height: 220px;
    width: 300px;
    padding: 20px;
}

.data-story {
    display: flex;
    height: 200px;
    width: 375px; 
    padding: 20px;
}

.centered-text {
    text-align: center;
    font-family: oxanium;
    color: #633fab;
    padding: 10px;
}

.centered-text2 { 
    text-align: center;
    font-family: oxanium;
    color: white;
    justify-content:center;
    align-items: center;
}

div {
    margin: 50px;
}

#nology-course {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.gray-box {
    width: 350px;
    height: 100px;
    background-color: gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.purple-box {
    width: 350px;
    height: 100px;
    background-color: #796D92;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-g {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-r {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.image-project {
    width: 400px;
    height: 300px;
}

.gray-box2 {
    width: 350px;
    height: 100px;
    background-color: gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.purple-box2 {
    width: 350px;
    height: 100px;
    background-color: #796D92;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.gray-box3 {
    width: 350px;
    height: 300px;
    background-color: gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.purple-box3 {
    width: 350px;
    height: 300px;
    background-color: #796D92;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}




.centered-text3 { 
    text-align: center;
    font-family: oxanium;
    color: white;
}

#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    margin: 10px;
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 700px) {
    nav a {
        font-size: 20px;
    }

    h1 {
        font-size: 90px;
    }

    .headings {
        font-size: 50px;
    }
    .gray-box {
        display: flex;
        width: 650px;
    }
    .purple-box {
        display: flex;
        width: 650px;
    }

    .gray-box3 {
        display: flex;
        height: 350px;
        width: 500px;
    }
    .purple-box3 {
        display: flex;
        height: 350px;
        width: 500px;
    }

    .centered-text {
        font-size: x-large;
    }
    
    .centered-text2 {
        font-size: x-large;
    }
    
    .centered-text3 {
        font-size: x-large;
    }

    .image-karishma {
        height: 350px;
        width: 250px;
    }
    .psm1-image {
        display: flex;
        height: 300px;
        width: 450px;    
    }    
    .data-story {
        display: flex;
        height: 400px;
        width: 700px; 
    }
    .logo img {
        width: 120px;
        height: 120px;
        padding: 15px;
    }

}



@keyframes pulse {
    0% {
        background-color: #796D92;
    }
    100% {
        background-color: #633fab;
    }
}