.nav-bar {
    display: flex;
    background-color: #796D92;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-style: bold;
    
}
h1 {
    text-align: center;
    color: #633fab;
    font-size: 70px;
    font-family: Oxanium;
}

h2 {
    text-align: center;
    color: #796D92;
    font-size: 25px;
    font-family: Oxanium;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px;
}

.image {
    height: 400px;
    width: 200px;
    object-fit: contain;


}


.introduction {
    border: 2px solid #633fab;
    max-height: 400px;
    max-width: 200px;
    font-style: Oxanium;
}